    html{
        background: linear-gradient(to bottom right, #2d2c2c, aliceblue);
           
    }


button {
        padding: 10px 20px;
        margin: 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgb(97, 97, 97);; /* Cor de fundo */
        color: #fff; /* Cor do texto */
        transition: background-color 0.3s ease;
      }
    
button:hover {
        background-color: #2980b9; /* Cor de fundo ao passar o mouse */
      }

.linkAbas{
        color: rgb(177, 235, 2);
        text-decoration: none; 
    }
    .eu{
            margin: 2rem 3rem 10; 
            font-family: calibri;
            color: aliceblue;
            font-size: 2rem; 
    }
    .sobre{
        
            font-size: 1rem;
            margin: 0 5rem; /* margem inferior */
            font-weight: lighter;
            color: aliceblue;
            align-items: left;
            font-weight: lighter;
            font-family: Calibri;
            margin-bottom: 10px; /* ou qualquer outro valor desejado */
            
    }

    img{
        
            height: auto; /* Mantém a proporção original da imagem */
            display: block; /* Imagens uma sobre a outra */
            margin-bottom: 3px; /* Adiciona espaço abaixo de cada imagem */
            margin: 3rem;
            border-radius: 10%;
    }
    .lista-imagens {
            list-style: none;
            padding: 0;
    }

    .lista-imagens li {
            display: flex; /* Utiliza um layout flexível */
            align-items: center; /* Alinha os itens verticalmente ao centro */
            font-family: calibri;
            font-weight: lighter;
            color: aliceblue;
            font-size: 1.3rem;

    }

    .lista-imagens li img {
            width: 300px; /* Defina o tamanho desejado para as imagens */
            height: auto;
            margin-right: 10px; /* Adiciona espaço entre a imagem e o texto */

    }
    h2{
        margin-top: 5rem; 
        font-family: calibri;
        color: aliceblue;
        font-size: 2rem; 
    }
    .copy{
        font-family: Calibri;
        font-size: 1rem;
        color: aqua;
        margin: 0 5rem;
    }
    .contato{
        margin: 0 5rem; 
        font-family: calibri;
        color: aliceblue;
        font-size: 2rem; 
        

    }
